## Compose
COMPOSE_PROJECT_NAME=thesis
COMPOSE_PROFILES=proxy, stateless, stateful, migrate

## Statefull
POSTGRES_DB=database
POSTGRES_USER=username
POSTGRES_PASSWORD=password
DATABASE_URL=postgres://username:password@timescaledb:5432/database

## Stateless
INTERFACE_FQDN=http://localhost
MICROSOFT_TENANT_ID=common
MICROSOFT_CLIENT_ID="d03453634..."
MICROSOFT_CLIENT_SECRET="jcmads...."
PROD=true

## Monitor
PORTAINER_FQDN=http://portainer.localhost   

## Cloud
HCLOUD_TOKEN=

## Nixos
SERVER_IP=
SSH_KEYS="ssh-rsa AAAAB3..."
PASSWORD_HASH=

## S3 Storage
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_ENDPOINT=